// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card{
    background-color: rgb(253, 253, 253);
    margin:10px;
    text-transform: capitalize;
}
